<template>
<div id="convo-card">
    <div class="card" v-if="MessageList!=null">
        <div class="card-header py-2 px-1">
            <a class="text-left" data-toggle="collapse" href="#image_preview">
                <span  class="text-info"><i class="fas fa-envelope-open fa-2x"></i></span>
                <span class="text-muted font-weight-bold">{{MessageList.Subject && decodeText(MessageList.Subject.toUpperCase())}}</span>
            </a>

            <div class="my-2 collapse show" v-if="image_src!==''" id="image_preview">
                <img v-bind:src="image_src" alt="User Message" class="card-img-top" v-on:click="ShowImage()" />
            </div>
        </div>
        <div class="card-body px-0">
            <ul class="mx-0 px-0" v-if="MessageList && MessageList.Answer!=null">
                <li class="mx-0 px-0 py-1" v-for="(_item,_index) in MessageList.Answer" v-bind:key="_index">
                    <div class="row mx-0 pl-1">
                        <div class="col-xs-1">
                            <div class="first-letter bg-info">
                                <span>{{getFirstLetter(_item.LastName)}}</span>
                            </div>
                        </div>
                        <div class="col-xs-11" style="min-width:90%">
                            <div class="ml-2 p-2">
                                <p class="font-weight-normal m-0">{{_item.LastName}}, {{_item.FirstName}}</p>
                                <div class="d-flex w-100 justify-content-between">
                                    <small class="font-weight-normal">{{fixMessage(decodeText(_item.Answer))}}</small>
                                    <small class="font-weight-light"><i class="far fa-clock"></i> {{DateAgoFormatter(_item.DateCreated)}}</small>
                                </div>
                            </div>
                        </div>
                    </div>

                </li>
            </ul>
        </div>
        <div class="card-footer bg-light fixed-bottom">
            <div class="input-group">
                <input ref="mycomment" v-bind:disabled="isSubmitting" v-model="replymessage" type="text" class="form-control" placeholder="Type your message here...">
                <div class="input-group-append">
                    &nbsp;
                    <span v-show="!isSubmitting" v-on:click="submitReply()" class="input-group-text text-primary"><i class="fas fa-paper-plane"></i></span>
                    <span v-show="isSubmitting" class="input-group-text text-danger"><i class="fas fa-spinner"></i></span>
                </div>
            </div>
        </div>
    </div>

</div>
</template>

<script>
export default {
    data() {
        return {
            subject: "Virtualwall",
            MessageList: {},
            image_src: "",
            replymessage: "",
            questionID: -1,
            isread: 0,
            isSubmitting: false,
        };
    },
    methods: {
        ShowImage() {
            var ref = window.open(
                this.image_src,
                "_blank",
                "location=no,toolbar=no,zoom=yes,hardwareback=yes"
            );
            ref.addEventListener("loadstart", (event) => {
                __applog("event: " + event.url);
            });
            ref.addEventListener("loadstop", (event) => {});
        },
        fixMessage(msg) {
            if (msg != null && msg.length > 25) {
                msg = msg.substr(0, 25) + "...";
            }
            return msg;
        },
        getFirstLetter(name) {
            return name[0].toUpperCase();
        },
        submitReply() {
            if (this.replymessage === "") {
                alert("Please enter your reply...");
                return;
            }
            this.isSubmitting = true;
            __vueinstance__.$_lokijs.GetFirst(_user_info_json(),
                (response) => {
                    if (response != null) {
                        let _data = {
                            "Content": encodeURIComponent(this.replymessage),
                            "EmpID": response["ID"],
                            "QuestionID": this.questionID,
                            "DateCreated": __vueinstance__.$root.momentDate(Date.now()),
                            "DeviceID": localStorage.getItem(_device_id_storage()),
                            "ConnectionID": response["ActiveConnectionID"]
                        };
                        __vueinstance__.$_httphelper.IHttpPost("PostWallReply", _data).then((_result) => {
                            __applog("WallReplyResponse: " + JSON.stringify(_result.WallReplyData));
                            this.replymessage = "";
                            let result = JSON.parse(_result.WallReplyData.replace(/\\/g, "a")).inbox;
                            __applog("Conversation Post Result: " + result);
                            this.isSubmitting = false;
                            if (result != null) {
                                let answers = [],
                                    _answers = [];
                                let qID = "ID-" + result["id"];
                                let convodate = __vueinstance__.$root.momentDate(Date.now());
                                __vueinstance__.$_lodash.forEach(result.conversations, (arr) => {
                                    let aID = "ANS_ID-" + arr.id;
                                    answers.push({
                                        AnswerID: aID,
                                        Answer: arr.content,
                                        DateCreated: arr.datecreated,
                                        FirstName: arr.firstname,
                                        LastName: arr.lastname
                                    });

                                    //for store
                                    _answers.push({
                                        "id": arr.id,
                                        "datecreated": arr.datecreated,
                                        "content": arr.content,
                                        "empid": arr.empid,
                                        "questionid": arr.questionid,
                                        "firstname": arr.firstname,
                                        "lastname": arr.lastname,
                                        "lastconversationdate": convodate
                                    });

                                });
                                this.MessageList = {
                                    Subject: decodeURIComponent(result.subject),
                                    Content: "N/A",
                                    DateCreated: result.datecreated,
                                    FirstName: result.firstname,
                                    IsRead: result.isread,
                                    LastName: result.lastname,
                                    QuestionID: qID,
                                    id: result["id"],
                                    Answer: answers
                                };
                                __applog("MessageList: " + JSON.stringify(this.MessageList));
                                __vueinstance__.$_lokijs.CollectionHandler(_inbox_json(), _response => {
                                    if (_response != null) {
                                        __vueinstance__.$_lokijs.ScalarQuery(_inbox_json(), {
                                            id: result["id"]
                                        }, (response) => {
                                            if (response != null) {
                                                __applog("Initial Conversation: " + JSON.stringify(response.conversations));
                                                response.conversations = _answers; //update the conversations entry
                                                response.lastconversationdate = convodate;
                                                _response.update(response);
                                                __applog("Updated conversations: " + JSON.stringify(response.conversations));
                                                localStorage.setItem("dateLastUpdated", convodate);
                                            }
                                        })
                                    }
                                });
                            }

                        });
                    } else {
                        __applog("WallReplyResponse: No Record");
                    }
                });
        },
        decodeText(msg) {
            return decodeURIComponent(msg);
        },
        readJsonFromStorage(qId, qrcode, _tag, callback) {
            __vueinstance__.$_lokijs.ScalarQuery(_image_file_json(), {
                id: qrcode
            }, (response) => {
                __applog("Read From JSON: " + JSON.stringify(response));
                if (response != null) {
                    let b64image = response["Image"]; // "data:image/png;base64," + response["Image"];
                    __vueinstance__.$root.CompressImage(b64image, (_resp) => {
                        this.image_src = _resp;
                    });
                }
                let _id = qId.substr(qId.indexOf('-') + 1);
                __applog("Conversation...Inbox Search: " + _id);

                //convo
                if (_tag != null && _tag === "new_message") {
                    //fetch new data from last update date...
                    __vueinstance__.$root.is_qr_checking = true;
                    __applog("Fetch new data from server due to new message...");
                    __vueinstance__.$_indexsignalr.GetContentBasedOnDateLastUpdated(
                        __vueinstance__.$root.momentDate(Date.now()),
                        (response) => {
                            __applog("Inbox fresh from server...");
                            __applog("Read the inbox data...");
                            __vueinstance__.$_lokijs.CollectionHandlerData(_inbox_json(), (_response) => {
                                if (_response != null) {
                                    let _sortdesc = __vueinstance__.$_lodash.orderBy(
                                        _response, ["datecreated"], ["desc"]
                                    );
                                    __vueinstance__.$_lodash.forEach(_sortdesc, (response) => {
                                        if (response.id == _id) {
                                            __applog("Question ID found from inbox: " + _id);
                                            let answers = [];
                                            __vueinstance__.$_lodash.forEach(response.conversations, (arr) => {
                                                let aID = "ANS_ID-" + arr.id;
                                                answers.push({
                                                    AnswerID: aID,
                                                    Answer: arr.content,
                                                    DateCreated: arr.datecreated,
                                                    FirstName: arr.firstname,
                                                    LastName: arr.lastname
                                                });
                                            });
                                            this.MessageList = {
                                                Subject: decodeURIComponent(response.subject),
                                                Content: "N/A",
                                                DateCreated: response.datecreated,
                                                FirstName: response.firstname,
                                                IsRead: response.isread,
                                                LastName: response.lastname,
                                                QuestionID: qId,
                                                id: _id,
                                                Answer: answers
                                            };
                                            __applog("MessagList: " + JSON.stringify(this.MessageList));
                                            return;
                                        }
                                    });

                                } else {
                                    __applog("Inbox not present...");
                                }
                            });
                            __vueinstance__.$root.is_qr_checking = false;
                            callback("OK");
                        });
                } else {
                    //read from inbox folder
                    __applog("Read from existing inbox in conversation...");
                    __vueinstance__.$_lokijs.CollectionHandlerData(_inbox_json(), (_response) => {
                        if (_response != null) {
                            let _sortdesc = __vueinstance__.$_lodash.orderBy(
                                _response, ["datecreated"], ["desc"]
                            );
                            __vueinstance__.$_lodash.forEach(_sortdesc, (response) => {
                                if (response.id == _id) {
                                    __applog("Question ID found from inbox: " + _id);
                                    let answers = [];
                                    __vueinstance__.$_lodash.forEach(response.conversations, (arr) => {
                                        let aID = "ANS_ID-" + arr.id;
                                        answers.push({
                                            AnswerID: aID,
                                            Answer: arr.content,
                                            DateCreated: arr.datecreated,
                                            FirstName: arr.firstname,
                                            LastName: arr.lastname
                                        });
                                    });
                                    this.MessageList = {
                                        Subject: decodeURIComponent(response.subject),
                                        Content: "N/A",
                                        DateCreated: response.datecreated,
                                        FirstName: response.firstname,
                                        IsRead: response.isread,
                                        LastName: response.lastname,
                                        QuestionID: qId,
                                        id: _id,
                                        Answer: answers
                                    };
                                    __applog("MessagList: " + JSON.stringify(this.MessageList));
                                    return;
                                }
                            });

                        } else {
                            __applog("Inbox not present...");
                        }

                        callback("OK");
                    });
                }
            });
        },
        DateAgoFormatter(_date) {
            if (_date != null)
                return this.$_moment(_date).fromNow(true);
            return _date;
        }
    },
    mounted() {
        let qid = this.$route.params.qid;
        this.isread = this.$route.params.isread;
        this.questionID = qid.substr(qid.indexOf('-') + 1);
        this.subject = decodeURIComponent(this.$route.params.subject);
        let _qrcode = this.$route.params.qrcode;
        let _tag = this.$route.params.tag;
        if (_qrcode != null) {
            this.readJsonFromStorage(
                qid,
                _qrcode, _tag,
                (response) => {
                    setTimeout(() => {
                        __applog("Comment Box Focus")
                        this.$nextTick(() => this.$refs.mycomment.focus());
                    }, 1000);
                }
            );
        }
        if (_tag != null && _tag !== '') {
            localStorage.setItem(_convo_tag(), _tag);
        }
    }
};
</script>

<style>
#convo-card p {
    margin-left: 36px;
}

#convo-card .first-letter {
    font-weight: bold;
    width: 30px;
    height: 30px;
    line-height: 16px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    margin: 10px auto;
    /*position: absolute;*/
}

#convo-card .first-letter span {
    position: absolute;
    text-align: center;
    margin: 8px -3px;
}

#convo-card ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#convo-card li {
    /*margin-bottom: 5px;
    padding-bottom: 8px;*/
    border-bottom: 1px dotted #ddd;
}

#convo-card .card-body {
    overflow-y: auto;
    min-height: 100%;
    padding: 10px;
}

#convo-card::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

#convo-card::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

#convo-card::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}

/*
#convo-card #convo_qrcode {
    height: 50px;
    width: 50px;
    position: fixed;
    right: 6px;
    top: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    z-index: 1031;
}*/

/*
#convo-card .ribbon {
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px;
    height: 75px;
    text-align: right;
}

#convo-card .ribbon span {
    font-size: 10px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 100px;
    display: block;
    background: #79A70A;
    background: linear-gradient(#9BC90D 0%, #79A70A 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px;
    right: -21px;
}

#convo-card .ribbon span::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid #79A70A;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #79A70A;
}

#convo-card .ribbon span::after {
    content: "";
    position: absolute;
    right: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #79A70A;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #79A70A;
}*/
</style>
