<template>
<div class="bg-light fixed-bottom mb-0 py-1 text-center" style="border-top:1px solid #ccc">
    <div class="row">
        <div class="col">
            <div v-if="_is_home">
                <a v-bind:class="{'text-success':!_is_qr_checking || haslastupdated,'text-secondary':_is_qr_checking || !haslastupdated}" v-on:click="inbox()" href="javascript:void(0);"><i class="fas fa-envelope fa-2x"></i>
            <span v-if="haslastupdated" id="message-alert-badge" class="text-danger font-weight-bold">!</span>
            </div>
            <a class="text-success" v-else v-on:click="inbox()" href="javascript:void(0);"><i class="fas fa-sync-alt fa-2x"></i></i>
            </a>
            </div>
            <div class="col">
                <a v-bind:class="{'text-primary':!_is_qr_checking || _is_home,'text-secondary':_is_qr_checking || !_is_home}" v-on:click="camera()" href="javascript:void(0);"><i class="fas fa-camera-retro fa-2x"></i></a>
            </div>
            <div class="col">
                <a class="text-danger" v-on:click="logout()" href="javascript:void(0);"><i class="fab fa-expeditedssl fa-2x"></i></a>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            haslastupdated: false
        }
    },
    computed: {
        _is_qr_checking() {
            return this.$root.is_qr_checking;
        },
        _is_home() {
            __applog("Routed: " + this.$route.name);
            return this.$route.name === "Home";
        }
    },
    methods: {
        inbox() {
            // if (this.$route.name !== "MyMessage")
            //     __vueinstance__.$root.is_qr_checking = true;
            this.haslastupdated = false;
            this.$router.push("/mymessage/" + encodeURIComponent(localStorage.getItem("dateLastUpdated")));
        },
        camera() {
            if (this.$root.is_qr_checking == false && this.$route.name === "Home") {
                cordova.plugins.barcodeScanner.scan(
                    (result) => {
                        if (!result.cancelled) {
                            let scannedQR = result.text;
                            __applog("QR Code: " + scannedQR);
                            __vueinstance__.$root.is_qr_checking = true;
                            __vueinstance__.$_imagehelper.ImageToBas64Format(scannedQR, (data) => {
                                __applog("Image Data: " + data);
                                if (data === "IMAGE_ERROR") {
                                    alert(
                                        "Image not found from server...Please contact developer."
                                    );
                                } else if (data != null) {
                                    __vueinstance__.$root.is_qr_checking = false;
                                    __vueinstance__.$router.push("/imageview/" + scannedQR);
                                }
                            });
                        }
                    },
                    function (error) {
                        alert("Scanning failed: " + error);
                    }, {
                        prompt: "Focus on QR code to scan."
                    }
                );
            }
        },
        logout() {
            if (confirm("Are you sure you want to logout?")) {
                __vueinstance__.$root.is_qr_checking = true;
                __vueinstance__.$_apphelper.LogoutWithMessage(false);
            }
        }
    },
    created() {
        // __vueinstance__.$root.is_qr_checking = false;
        let hasupdate = localStorage.getItem("haslastupdated") != null;
        if (hasupdate) {
            this.haslastupdated = hasupdate;
            localStorage.removeItem("haslastupdated"); //remove from storage once read
        }
    }
};
</script>

<style>
#message-alert-badge {
    position: absolute;
    margin-top: -5px;
    margin-left: -10px;
}
</style>
