<template>
<nav class="navbar navbar-dark bg-success fixed-top">
    <a class="navbar-brand" href="javascript:void(0);" v-on:click="goback()">
        <!--<img src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">-->
        <div v-show="is_home">
            <span class="initial_header_letter">E</span><span class="text_header_word">{{app_brand}}</span>
        </div>
        <div v-show="!is_home">
            <i class="fas fa-arrow-circle-left"></i>&nbsp;E<span>{{app_brand}}</span>
            <!--&nbsp;&nbps;<span class="initial_header_letter">E</span><span class="text_header_word animated lightSpeedIn">{{app_brand}}</span>-->
        </div>
    </a>
</nav>
</template>

<script>
export default {
    data() {
        return {
            app_brand: "nterprise Alignment Virtual Wall"
        };
    },
    computed: {
        is_home() {
            __applog("Home Detection..." + this.$route.name);
            if (this.$route.name === "Conversation" || this.$route.name === "NewMessage") {
                return false;
            } else {
                return true;
            }
        }
    },
    methods: {
        goback() {
            switch (this.$route.name) {
                case "Conversation":
                    let cTag = localStorage.getItem(_convo_tag());
                    if (cTag == null || cTag !== "new_message") {
                        __applog("Refresh data..");
                        this.$router.push("/mymessage/" + encodeURIComponent(localStorage.getItem("dateLastUpdated")));
                    } else {
                        __applog("Coming from new message...");
                        this.$router.go(-1);
                    }
                    localStorage.removeItem(_convo_tag());
                    break;
                case "NewMessage":
                    this.$router.go(-1);
                    break;
                default:
                    this.$router.push("/");
                    break;
            }
        }
    },
};
</script>

<style>
.initial_header_letter {
    transform: rotate(-30deg);
    font-weight: bold;
    background: yellowgreen;
    padding: 0 6px 0 6px;
    position: absolute;
    border-radius: 3px;
}

.text_header_word {
    margin-left: 30px;
}
</style>
