<template>
<div v-if="welcome_page" id="no_message" class="text-success text-center">
    <a href="javascript:void(0);" v-on:click="camera()"><i class="fas fa-qrcode fa-5x animated infinite jello delay-5s"></i></a>
    <div class="alert alert-light mt-3">
        <p class="my-0 py-0" v-for="(item,index) in front_welcome" v-bind:key="index">{{item}}</p>
    </div>
    <footer-component></footer-component>
    <!--<div class="fixed-bottom">
     <a class="text-danger fa-pull-right m-2" v-on:click="logout()" href="javascript:void(0);"><i class="fab fa-expeditedssl fa-2x"></i> Logout..</a>
     </div>-->
</div>
</template>

<script>
export default {
    data() {
        return {
            welcome_page: true,
            front_welcome: [
                "It's lonely here.",
                "Go to the Enterprise Alignment Wall",
                "and scan a QR code."
            ]
        };
    },
    methods: {
        camera() {
            if (this.$root.is_qr_checking == false && this.$route.name === "Home") {
                cordova.plugins.barcodeScanner.scan(
                     (result)=> {
                        if (!result.cancelled) {
                            let scannedQR = result.text;
                            __applog("QR Code: " + scannedQR);
                            __vueinstance__.$root.is_qr_checking = true;
                            __vueinstance__.$_imagehelper.ImageToBas64Format(__vueinstance__, scannedQR, (
                                data
                            ) => {
                                if (data === "IMAGE_ERROR") {
                                    alert(
                                        "Image not found from server...Please contact developer."
                                    );
                                } else if (data != null) {
                                    __vueinstance__.$root.is_qr_checking = false;
                                    __vueinstance__.$router.push("/imageview/" + scannedQR);
                                }
                            });
                        }
                    },
                     (error) =>{
                        alert("Scanning failed: " + error);
                    }, {
                        prompt: "Place a QR code inside the viewfinder rectangle to scan it."
                    }
                );
            }
            // },
            // logout() {
            //     if (confirm("Are you sure you want to logout your session?")) {
            //         __vueinstance__.$_apphelper.LogoutWithMessage(false);
            //     }
        }
    }
};
</script>

<style>
#no_message {
    text-align: center;
    margin-top: 30%;
}
</style>
