<template>
<div id="image_container">
    <div v-if="!ShowLoader" class="card mt-3">
        <!-- <div class="card-header font-weight-bold">{{scan_image_title}}</div> -->
        <p class="font-weight-bold text-center">{{scan_image_text}}</p>
        <div class="qr_image_view">
            <img v-bind:src="image_src" alt="User Message" class="card-img-top" id="qrcode" v-on:click="zoom" />
        </div>
        <div class="card-body">
            <!--<div class="card-text text-justify">
                <p class="my-0 py-0"><span class="text-primary">Width:</span> {{image_width}}</p>
                <p class="my-0 py-0"><span class="text-primary">Height:</span> {{image_height}}</p>
                <p class="my-0 py-0"><span class="text-primary">Type:</span> {{image_type}}</p>
            </div>
            <hr/>-->
            <div class="text-right">
                <a id="btnNext" v-on:click="next()" href="javascript:void(0);" class="btn btn-success">
                        Next <i class="fas fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
    <div v-else>
        <loader-component></loader-component>
    </div>
</div>
</template>

<script>
export default {
    watch: {
        ShowLoader: function () {
            __applog("Show Loader..." + this.ShowLoader);
        }
    },
    created() {
        __applog("Imageview Component...");
        this.qrcode = this.$route.params.qrcode;
        this.ShowLoader = true;
        __vueinstance__.$_lokijs.ScalarQuery(_image_file_json(), {
            id: this.qrcode
        }, (response) => {
            if (response != null) {
                let b64image = response["Image"];//"data:image/png;base64," + response["Image"];
                this.image_src = b64image;
                // setTimeout(() => {
                //     __vueinstance__.getimageInfo();
                // }, 500);
                this.ShowLoader = false;
            }
        });
    },
    data() {
        return {
            // scan_image_title: "Scanned Image",
            scan_image_text: "You've successfully scanned this block!",
            qrcode: "",
            image_width: "0px",
            image_height: "0px",
            image_type: "png",
            image_src: "",
            ShowLoader: false
        };
    },
    methods: {
        next() {
            this.$router.push("/newmessage/" + this.qrcode);
        },
        getimageInfo() {
            var image = new Image();
            image.src = this.image_src;
            this.image_width = image.width + " px";
            this.image_height = image.height + " px";

            var img = image.src.substring(0, image.src.indexOf(";"));
            this.image_type = img.substring(img.indexOf(":") + 1);

            __applog("Done image processing...");
        },
        zoom() {
            //no functionality yet
        }
    }
};
</script>

<style>
#image_container p {
    font-size: 13px;
}

/*
.qr_image_view {
    height: 240px;
    width: 96%;
    display: block;
    margin: 0 2%;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}*/

#image_container .qr_image_view {
    background-color: #d3d3d3;
    position: relative;
    width: 100%;
    padding-top: 100%;
}

#image_container #qrcode {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    max-width: 100%;
    max-height: 100%;

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
 }

</style>
