<template>
<div class="loader_window">
    <div class="sk-folding-cube">
        <div class="sk-cube1 sk-cube"></div>
        <div class="sk-cube2 sk-cube"></div>
        <div class="sk-cube4 sk-cube"></div>
        <div class="sk-cube3 sk-cube"></div>
    </div>
    <p v-if="_progress_loaded==0" class="loader text-secondary font-weight-bold animated rubberBand infinite 2s">
        {{loader_status}}
    </p>
    <div v-else>
        <p class="loader font-weight-bold animated rubberBand infinite delay-2s">
            <span class="text-primary">{{_calculateloaded}}</span>
            <span>&nbsp;|&nbsp;</span>
            <span class="text-secondary">still in progress...</span>
        </p>
    </div>
</div>
</template>

<script>
export default {
    data() {
        return {
            loader_status: "Please wait while we do something..."
        };
    },
    computed: {
        _progress_loaded: function () {
            return this.$root.progress_loaded;
        },
        _calculateloaded: function () {
            try {
                let loaded = this.$root.progress_loaded;
                // let total = this.$root.progress_total;
                if (loaded > 0)
                    return loaded + " bytes received";
                else
                    return "Please wait";

            } catch (e) {
                __applog("Progress Error: " + e);
                return 0;
            }
        }
    },
    created() {
        this.$root.progress_loaded = 0;
    }
};
</script>

<style>
.loader {
    text-align: center;
}

.loader_window {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: 999999;
    background: #eee;
}
</style>
