<template>
<div class="my-message">
    <div class="card mt-0 mb-2" v-for="(item,index) in Inbox" v-bind:key="index">
        <div class="card-header py-1">
            <div class="row mx-1" v-on:click="openContent(item.id, item.subject,item.isread,item.qrcode)">
                <div class="col-xs-1">
                    <span v-if="item.isread==0" class="text-warning"><i class="fas fa-envelope fa-2x"></i></span>
                    <span v-else class="text-info"><i  class="fas fa-envelope-open fa-2x"></i></span>
                </div>
                <div class="col-xs-11">
                    <div class="ml-2 mt-1">
                        <p class="mb-0 text-dark" v-bind:class="{'font-weight-bold':item.isread==0,'font-weight-normal':item.isread==1}">{{item.subject.toUpperCase()}}</p>
                        <small class="font-weight-light my-0" style="float:left"><i class="far fa-clock"></i> {{DateAgoFormatter(item.lastconversationdate)}}</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body px-3 py-2">
            <div>
                <div class="mx-2" v-on:click="openContent(item.id, item.subject,item.isread,item.qrcode)">
                    <p class="font-weight-normal mb-0">{{item.conversations!=null? fixMessage(item.conversations[0].content):'...'}}</p>
                </div>
                <div class="row mx-0" v-if="item.image!==''">
                    <div class="col-xs-12">
                        <img v-bind:src="item.image" alt="User Message" class="card-img-top" v-on:click="ShowImage(item.qrcode)" />
                    </div>
                </div>
            </div>
        </div>
        <small class="text-primary ml-4 mb-1" v-on:click="openContent(item.id, item.subject,item.isread,item.qrcode)">
            {{item.conversations!=null?(item.conversations.length>1?item.conversations.length + ' comments':'1 comment'):'Write a comment'}}
        </small>
        <div class="card-footer text-muted py-2">
            <div class="text-right">
                <small v-on:click="openContent(item.id, item.subject,item.isread,item.qrcode)">
                <i class="far fa-edit text-primary"></i> Create comment...
               </small>
            </div>
        </div>
    </div>
    <footer-component></footer-component>
</div>
</template>

<script>
export default {
    data() {
        return {
            Inbox: [],
            TempInbox: [],
            Page: 1
        }
    },
    methods: {
        checkScroll() {

            $(window).scroll(() =>{
                if ($(window)
                    .scrollTop() + $(window)
                    .height() > $(document)
                    .height() - 200) {
                        __applog('At the bottom');
                    ++this.Page;
                    this.getPaginatedItems(this.TempInbox, this.Page);
                }
            });
        },
        getPaginatedItems(items, page) {
            var page = page || 1;
            var per_page = 3;
            var offset = (page - 1) * per_page;
            var paginatedItems = __vueinstance__.$_lodash.slice(items, offset, offset + per_page);
            if (this.Inbox.length < this.TempInbox.length) {
                __vueinstance__.$_lodash.forEach(paginatedItems, (value) => {
                    this.Inbox.push(value);
                });
            }
        },
        ShowImage(qrcode) {
            var ref = window.open(
                cordova.file.dataDirectory + "/qr_image_path/" + qrcode + ".png",
                "_blank",
                "location=no,toolbar=no,zoom=yes,hardwareback=yes"
            );
            ref.addEventListener("loadstart", (event) => {
                __applog("event: " + event.url);
            });
            ref.addEventListener("loadstop", (event) => {});
        },
        openContent(id, subject, isread, qrcode) {
            let qID = "ID-" + id;
            __applog("QuestionID: " + qID);

            __vueinstance__.$_lokijs.CollectionHandler(_inbox_json(), _response => {
                if (_response != null) {
                    __vueinstance__.$_lokijs.ScalarQuery(_inbox_json(), {
                        id: id
                    }, (response) => {
                        if (response != null) {
                            response.isread = 1;
                            _response.update(response);
                            __vueinstance__.$router.push("/conversation/" + qID + "/" + encodeURIComponent(subject) + "/" + isread + "/" + qrcode);
                        }
                    })
                }
            });
        },
        fixMessage(msg) {
            if (msg != null && msg.length > 25) {
                msg = msg.substr(0, 25) + "...";
            }
            return msg;
        },
        DateAgoFormatter(_date) {
            if (_date != null)
                return this.$_moment(_date).fromNow(true);
            return _date;
        }
    },
    mounted() {
        this.checkScroll();
    },
    created() {
        __applog("MyMessage Component...");
        __vueinstance__.$root.is_qr_checking = true;
        setTimeout(() => {
            const sorter = "lastconversationdate";
            let id = this.$route.params.id;
            if (id != null) {
                __applog("Pass from notification click...");
                let dateLastupdated = decodeURIComponent(id);
                if (dateLastupdated != null) {
                    let isOutdated = false;
                    let dateLastUpdated_local = localStorage.getItem("dateLastUpdated");

                    __applog("Local Date: " + dateLastUpdated_local);
                    __applog("Passed: " + dateLastupdated);

                    if (
                        dateLastUpdated_local == null ||
                        __vueinstance__.$root.momentDateCompare(dateLastUpdated_local, dateLastupdated)
                    ) {
                        isOutdated = true;
                        dateLastUpdated_local = dateLastupdated;
                    }
                    __vueinstance__.$root.is_qr_checking = true;
                    __applog("Is Outdated: " + isOutdated);
                    if (isOutdated) {
                        let contentPost = {
                            ntAccount: localStorage.getItem("__user_id__"),
                            deviceID: device.serial,
                            dateLastUpdated: dateLastUpdated_local
                        };
                        __vueinstance__.$_httphelper
                            .IHttpPost("PostContent", contentPost)
                            .then((result) => {
                                if (result != null) {
                                    var inbox = result.inbox;
                                    __vueinstance__.$_lokijs.CollectionHandlerData(_inbox_json(), (response) => {
                                        if (response != null) {
                                            __vueinstance__.$_lodash.forEach(inbox, (value) => {
                                                __applog("Inbox to add: " + JSON.stringify(value));
                                                __vueinstance__.$_lokijs.InsertData(_inbox_json(), value) //insert
                                            });
                                            //store data
                                            let _datelst = __vueinstance__.$root.momentDate(contentPost.dateLastUpdated);
                                            __applog("Store date last updated to storage: " + _datelst);
                                            localStorage.setItem("dateLastUpdated", _datelst);

                                            __vueinstance__.$_lokijs.CollectionHandlerData(_inbox_json(), (response) => {
                                                let _sortdesc = __vueinstance__.$_lodash.orderBy(
                                                    response, [sorter], ["desc"]
                                                );
                                                let _Inbox = [];
                                                __vueinstance__.$_lodash.forEach(_sortdesc, (arr) => {
                                                    let _image = "";
                                                    __vueinstance__.$_lokijs.ScalarQuery(_image_file_json(), {
                                                        id: arr.qrcode
                                                    }, (response) => {
                                                        if (response != null) {
                                                            let b64image = response["Image"]; // "data:image/png;base64," + response["Image"];
                                                            _image = b64image;
                                                        }
                                                        __vueinstance__.$root.CompressImage(_image, (_resp) => {
                                                            _Inbox.push({
                                                                id: arr.id,
                                                                subject: decodeURIComponent(arr.subject),
                                                                isread: arr.isread,
                                                                qrcode: arr.qrcode,
                                                                datecreated: arr.datecreated,
                                                                conversations: arr.conversations,
                                                                image: _resp,
                                                                lastconversationdate: arr.lastconversationdate
                                                            });
                                                        });
                                                    });

                                                });
                                                this.TempInbox = _Inbox;
                                                this.getPaginatedItems(this.TempInbox, this.Page);
                                                __vueinstance__.$root.is_qr_checking = false;
                                            });
                                        }
                                    });
                                } else {
                                    __vueinstance__.$root.is_qr_checking = false;
                                }
                            });
                    } else {
                        __applog("Not Outdated.");
                        __vueinstance__.$root.is_qr_checking = true;
                        __vueinstance__.$_lokijs.CollectionHandlerData(_inbox_json(), (response) => {
                            if (response != null) {
                                __applog("Retrieve from inbox...");
                                let _sortdesc = __vueinstance__.$_lodash.orderBy(
                                    response, [sorter], ["desc"]
                                );
                                let _Inbox = [];
                                __applog("_Sort Desc: " + _sortdesc);
                                __vueinstance__.$_lodash.forEach(_sortdesc, (arr) => {
                                    let _image = "";
                                    __vueinstance__.$_lokijs.ScalarQuery(_image_file_json(), {
                                        id: arr.qrcode
                                    }, (response) => {
                                        if (response != null) {
                                            let b64image = response["Image"]; // "data:image/png;base64," + response["Image"];
                                            _image = b64image;
                                        }
                                        __vueinstance__.$root.CompressImage(_image, (_resp) => {
                                            _Inbox.push({
                                                id: arr.id,
                                                subject: decodeURIComponent(arr.subject),
                                                isread: arr.isread,
                                                qrcode: arr.qrcode,
                                                datecreated: arr.datecreated,
                                                conversations: arr.conversations,
                                                image: _resp,
                                                lastconversationdate: arr.lastconversationdate
                                            });
                                        });
                                    });
                                });
                                this.TempInbox = _Inbox;
                                this.getPaginatedItems(this.TempInbox, this.Page);
                                __vueinstance__.$root.is_qr_checking = false;
                            }
                        });
                    }
                }
            }
        }, 250)
    }
}
</script>

<style>
.my-message {
    background: #dddddd;
}

.my-message .card {
    border-radius: 0;
    border: none;
    -webkit-box-shadow: 0 10px 6px -6px #aaa;
    -moz-box-shadow: 0 10px 6px -6px #aaa;
    box-shadow: 0 10px 6px -6px #aaa;
}

/*
.my-message .card-header {
    padding: 0;
}*/

/*
#list-inbox {
    border-right: none;
    border-left: none;
}

#list-inbox .list-group-item {
    border-right: none;
    border-left: none;
    border-bottom: 1px dotted #B3A9A9;
    padding: 5px;
}*/
</style>
