<template>
<div>
    <div class="card text-center" id="page-compose">
        <div class="card-header py-2 font-weight-bold">
            <i class="far fa-edit text-success"></i> {{compose_title}}
        </div>
        <div class="card-body">
            <div class="card-text text-left">
                <div class="form-group">
                    <label for="subject" class="font-weight-bold text-info">Subject:</label>
                    <textarea maxlength="25" class="form-control" id="subject" rows="2" v-model="user_subject" placeholder="Please write your subject..."></textarea>
                </div>
                <div class="form-group">
                    <label for="message" class="font-weight-bold text-info">Message:</label>
                    <textarea maxlength="250" class="form-control" id="message" rows="3" v-model="user_message" placeholder="Please write your message..."></textarea>
                </div>
            </div>

            <p>
                <span class="text-info">
                    QR Code: 
                  </span>
                <span class="text-secondary font-weight-bold">
                    {{qrcode}}
                  </span>
            </p>

            <a href="javascript:void(0);" class="btn btn-secondary text-center" v-on:click="goback()">
                   <i class="fas fa-arrow-left"></i> Back</a>
            <a href="javascript:void(0);" class="btn btn-danger text-center" v-on:click="reset()">
                  <i class="fas fa-sync"></i> Reset</a>
            <a href="javascript:void(0);" class="btn text-center" v-bind:class="{'btn-secondary': !allowed_to_send,'btn-primary':allowed_to_send}" v-on:click="send()">
                  <i class="fas fa-paper-plane"></i> Send</a>
        </div>
    </div>
</div>
</template>

<script>
export default {
    data() {
        return {
            compose_title: "Compose Message",
            user_subject: "",
            user_message: "",
            qrcode: ""
        };
    },
    computed: {
        allowed_to_send: function () {
            return this.user_subject !== "" && this.user_message !== "";
        }
    },
    methods: {
        goback() {
            this.$router.push("/imageview/" + this.qrcode);
        },
        send() {
            if (!this.allowed_to_send) {
                alert("Please complete all required...");
                return;
            }
            if (confirm("Do you want to submit your message?")) {
                __vueinstance__.$_lokijs.ScalarQuery(_image_file_json(), {
                    id: this.qrcode
                }, (response) => {
                    __applog("Submit: " + JSON.stringify(response));
                    if (response != null) {
                        __vueinstance__.$_lokijs.ScalarQuery(_user_info_json(), {
                            id: localStorage.getItem(_user_id_storage())
                        }, (_response) => {
                            if (_response != null) {
                                let conId = _response["ActiveConnectionID"];
                                if (conId !== "") {
                                    var _data = {
                                        Subject: encodeURIComponent(this.user_subject),
                                        Content: encodeURIComponent(this.user_message),
                                        EmpID: _response["ID"],
                                        BlockID: response["BlockID"],
                                        DateCreated:__vueinstance__.$root.momentDate(Date.now()),
                                        DeviceID: device.serial,
                                        ConnectionID: conId
                                    };
                                    __vueinstance__.$root.is_qr_checking = true;

                                    __vueinstance__.$_httphelper
                                        .IHttpPost("PostWallMessage", _data)
                                        .then( (result)=> {
                                            let qID = "ID-" + result["QuestionID"];
                                            __applog("New Message Result: " + JSON.stringify(result));
                                            __vueinstance__.$root.is_qr_checking = false;
                                            __vueinstance__.$router.push("/conversation/" + qID + "/" 
                                            + encodeURIComponent(_data.Subject) + "/" + 0 + "/" 
                                            + __vueinstance__.qrcode + "/new_message");
                                        });
                                }
                            }
                        });
                    }
                });
            }
        },
        reset() {
            if (confirm("Do you want to reset your message?")) {
                this.user_subject = "";
                this.user_message = "";
            }
        }
    },
    created () {
        this.qrcode = this.$route.params.qrcode;
        __applog("QR New Message: " + this.qrcode);
    }
};
</script>

<style>
textarea {
    resize: none;
}
</style>
