<template>
<div id="app" v-cloak>
    <loader-component v-show="_is_qr_checking || _isloggingout"></loader-component>
    <header-component></header-component>
    <div class="container">
        <router-view/>
    </div>
</div>
</template>

<script>
//https://hub.packtpub.com/using-persistent-connection/
export default {
    computed: {
        _is_qr_checking() {
            return this.$root.is_qr_checking;
        },
        _isloggingout() {
            return this.$root.isloggingout;
        }
    }
};
</script>

<style>
@import url("https://fonts.googleapis.com/css?family=Questrial:400,700");
body,
html,
* {
    font-size: 14px;
}

#app {
    font-family: "Questrial", Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /*color: #2c3e50;*/
}

[v-cloak]>* {
    display: none;
}

[v-cloak]::before {
    content: "loading…";
}

*,
.alert,
.navbar,
img,
.card-img-top {
    border-radius: 0;
}

.card {
    border: none;
}

body {
    min-height: 100%;
    min-width: 100%;
    overflow: auto;
}

.container {
    margin: 55px 0 50px 0;
    padding: 2px;
}
</style>
